[user]
    name = Alexander Frazer
    email = afrazer@protonmail.com

[credential]
helper = cache

[alias]
    c = commit -m

    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

    l = "!source ~/.githelper && pretty_git_log"

    branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes

    graph = lg --decorate

    update = !git fetch --all --verbose --prune --tags

    upstream = !git reset --hard @{u}

    head = !git lg -n 20

    enforce = push --force-with-lease

    uncommit = reset --soft HEAD^

    new = lg main..

    missing = lg ..main

    oof = stash save --keep-index

    cena = commit --no-edit --amend

    root = rev-parse --show-toplevel

    mru = for-each-ref --sort=-committerdate --count=10 refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'

; [fetch]
;     # Automatically remove local branches that are deleted from the remote
; prune = true

; [column]
; 	ui = always

[commit]
    verbose = true

[pull]
    rebase = true

[rebase]
    autoStash = true

[init]
    defaultBranch = main

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true
    features = dracula

[merge]
    conflictStyle = diff3

[diff]
    colorMoved = default
    colorMovedWs = allow-indentation-change
    algorithm = histogram
    indentHeuristic = true

[status]
	showStash = true

