$include /etc/inputrc

set colored-stats On
set completion-ignore-case On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On

"\C-p": history-search-backward
"\C-n": history-search-forward

set editing-mode vi
$if mode=vi

set keymap vi-command
Control-l: clear-screen

set keymap vi-insert
Control-l: clear-screen

$endif
